* {box-sizing: border-box;}

:root {
	--background: #ffffff;
	--base: darkslategrey;
	--accent: teal;
	--base-fg: honeydew;
}

body {
	font-family: "Playfair Display", "Avant Garde","Times New Roman", helvetica, arial, sans-serif;
	font-size: 100%; 
	color: black;
	padding: 0;
	border-width: 0;
	margin-bottom: 1.5em;
}

#main-background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -10;
    height: 100%;
	background-color: #f8fff8;
}

#main-content {
    position: relative;
}

.hide {
	visibility: hidden;
}

.centred_text {
	text-align: center;
	vertical-align: middle;
}

.centred_table {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

h1,h2,h3,h3 a:link,h3 a:visited {
	color: navy;
}

h1 {
	font-size: 2em;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}

h2 {
	text-align:center;
	font-size: 1.5em;
	margin: 0.2em 0;
}

h3 {
	text-align:left;
	font-size: 1.2em;
	margin: 0.5em 0 0 0;
}

#programs a:link,#programs a:visited,#programs a:hover {
	color: var(--base-fg);
	text-decoration: none;
}
#nav a:link,#nav a:visited,#nav a:hover {
	color: var(--base-fg);
	text-decoration: none;
}
#nav a:hover {
	background-color: var(--accent);
	text-decoration: none;
}

a img {
	border-width: 0;
}


#title_section {
	font-family: helvetica, arial, sans-serif;
	text-align: center;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

#title_section h1 span {
	background: var(--base);
	color: var(--base-fg);
	font-size: 1em;
	text-align: center;
	padding: 0 1em;
	border-style: none;
	border-width: 1px;
	margin: auto;
	position: relative;
}

h3.subtitle{
    background-color: var(--base);
    color: var(--base-fg);
    padding-left: 0.5em;
    text-shadow: 2px 2px 2px black;
}

#legal_section {
	position: fixed;
	z-index:10000;
	bottom: 5px; 
	right: 5px; 
	left: 5px; 
	text-align: center; 
}

#legal_section span {
	margin-right: 5px; 
	margin-left: 5px; 
	padding-right: 5px; 
	padding-left: 5px; 
	text-align: center; 
	font-size: 0.7em; 
	background-color: black; 
	color: var(--base-fg); 
}

#nav_section {
	background-color: var(--base);
	margin: 0;
	padding: 0;
	font-size: 80%;
}

#nav {
	background-color: var(--base);
	text-align: center;
	border-style: none;
	border-width: 1px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li  {
	background-color: var(--base);
	color: var(--base-fg);
	padding: 0;
	display: inline-block;
	margin-left: 10px; /* add spacing between items */
}


#nav ul li a {
	margin: 0;
	padding: 0;
	background-color: var(--base);
	color: var(--base-fg);
	font-style: normal;
	text-decoration: none;
}
#nav li:hover {
	background-color: var(--accent);
	color: var(--base-fg);
}

#nav li:first-child  {
	margin-left: 0;
}

.dark_glow {
	box-shadow:         0px 0px 2px 1px var(--base),0px 0px 3px 3px rgba(0,0,0,0.7);
}

.light_glow {
	border: 1px solid darkseagreen;
	box-shadow:         0px 0px 2px 1px var(--accent),0px 0px 5px 4px rgba(160,160,160,0.7);
}

.inner_glow {
	box-shadow:         inset 0px 0px 2px 1px lightgray,inset 0px 0px 3px 3px rgba(224,224,224,0.7);
}

.inner_glow:hover {
	box-shadow:         inset 0px 0px 2px 1px gray,inset 0px 0px 3px 4px rgba(32,32,32,0.3);
}

.risen_text {
	margin-top: 2px;
	padding-bottom: 2px;
	text-shadow: 	0px 8px 5px rgba(48,48,80,0.1),
			0px 14px 2px rgba(96,96,160,0.4),
			0px 20px 10px rgba(80,80,96,0.1), 
			0px 2px 0px #c0c0a0
}

.program-name, .program-desc {
	font-family: 'Playfair Display',"Avant Garde","Times New Roman", helvetica, arial, sans-serif;
}

@media only screen and (max-width:762px) {
	#title_section h1 span {
	display: inline-block;
	border-radius: 3px;
	padding: 1px;
	width: 95%;
}

#nav {
	width:100%;
	display:inline-block;
}
#nav li  {
	padding: 0;
}
#programs {
	font-style: normal;
	padding: 0;
	text-align: left;
	overflow: auto;
}

.program-name {
	display: inline-block;
	padding: 5px;
	margin: auto;
	background-color: var(--base); 
	color: var(--base-fg);
	border-width:0;
	width:49%;
	border-top: darkgray 1px solid;
	border-radius: 0;
}
.program-desc {
	display: none;
	z-index:100;
	position:fixed;
	top:0;
	left: 0;
	width:100%;
	vertical-align:middle;
	opacity:1;
}
div.program-desc > div {
	display: block;
	padding: 0.5em 0.5em 1.5em;
	margin: 25% auto;
	width:30em;
	max-width:100%;
	background-color: var(--base-fg);
	text-align:center;
	position:relative;
	opacity:1;
	transition: opacity 2s ease;
}

div.modal-mask {
	display: none;
	position:fixed;
	top:0;
	left: 0;
	height:100%;
	width:100%;
	background-color: var(--base); 
	opacity:0.3;
	transition: opacity 1s ease;
}
a.close-desc {
	background-color: var(--base);
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 2px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}
div.program-desc:target{
	display: block;
	opacity: 1;
}
div.program-desc:target > div{
	display: block;
	opacity: 1;
}

.program-desc:target ~ div.modal-mask {
	display: block;
	opacity: 0.5;
}

.program-name:hover{
	background-color: var(--accent);
}

.program-text {
	border: 3px var(--base) groove;
	padding-bottom: 0.5em;
}

.program-no-scroll {
	margin-bottom: 1em;
}
}
	
@media only screen and (min-width:762px) {
#title_section h1 span {
	border-radius: 25%;
	padding: 0 1em;
}
#purty {
	margin-top: 1.5rem;
	width: 224px;
	float: left;
}
#purty img {
	border-width: 0;
}
#license {
	margin-left: 224px;
}

#programs_container {
	display: block;
	position: relative;
	text-align: center;
}

#programs {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	position: relative;
	text-align: center;
	height:20em;
}

#programs img {
	display: block;
	padding: 0;
	margin: 0 auto;
	top: 3rem;
	left: 0;
	bottom: 0;
	height: 85%;
	width: 100%;
	position: absolute;
	z-index: -10;
	opacity: 0.4;
}

#main-background img {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.2;
}

.program-name {
	padding: 10px;
	margin: 0;
	background-color: var(--base); 
	color: var(--base-fg);
	border-right: darkgray 1px solid;
	font-variant: small-caps;
	border-radius: 3px;
	transition: border-radius 0.5s ease, background-color 0.5s ease;
}
.program-desc {
	display: inline;
	padding: 0;
	margin: 2.7em 0 0 0;
	display: none;
	top:0;
	position:absolute;
	color: var(--base);
	opacity:0;
	transition: opacity 3s ease;
	text-align: left;
}
.program-no-scroll {
	margin-top:-1em;
	margin-bottom:1em;
}
.program-text {
	height:12em;
	overflow:auto;
}

.program-name:hover + div.program-desc, div.program-desc:hover{
	display: block;
	opacity: 1;
}
a.close-desc {
    display: none;
}
#nav li  {
	background-color: var(--base); 
	color: var(--base-fg);
	padding: 0;
	padding-inline: 5px;
	padding-block: 3px;
	display: inline-block;
	margin-right: 5px; /* add spacing between items */
  }
.program-name:hover{
    border-radius: 15px;
	background-color: var(--accent); 
}

}

@media only screen and (max-width:762px) {
	#programs img {
		display: none;
	}
	.program-name {
		border-radius: 0;
	}
	#purty {
		display: none;
	}
}

.wip-banner {
	padding-left: 3em;
	font-size: 0.8em;
	color: darkred;
}
.program-desc div a:link,.program-desc div a:visited,.program-desc div a:hover {
	color: var(--base-fg);
	text-decoration: none;
}

.program-desc .inner_glow {
	border-radius: 3px;
	padding: 2px;
}

#intro {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	text-align: center;
	font-style: none;
}

#intro a {
    border-radius: 40% 3px;
    padding: 2px;
    color: snow;
}

#intro a:link {
    background: lightslategray;
}

#intro a:hover {
    background: snow;
    color: black;
}

#aboutme {
	margin-top: 10px;
	text-align: left;
	font-family: 'Playfair Display', 'Open Sans',"Avant Garde","Times New Roman", helvetica, arial, sans-serif;
	font-style: normal;
}

.info {
	margin-top: 10px;
	font-style: normal;
	color: navy;
	background: aliceblue;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.button {
    background-color: var(--base);
    border-style: solid;
    border-width: 0px;
    border-color: var(--base-fg);
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    margin:3px;
    transition: background-color .5s ease;
}

.button:hover {
    border-width: 3px;
    margin:0px;
    background-color: var(--base-fg);
    color:var(--base);
}

.program-desc .centred-div {
    display: block;
    text-align: center;
}
.program-desc .button {
    background-color: var(--accent);
    border-color: var(--base-fg);
    color: var(--base-fg);
}

.program-desc div a.button:link,.program-desc div a.button:visited,.program-desc div a.button:hover {
	color: var(--base-fg);
}

