body {
    background: wheat;
    color: black;
    font-family: verdana, helvetica, arial, sans-serif;
    padding: 0;
    border-width: 0;
    margin: 0.1em 0.5em ;
}

h1 {
    color: black;
    font-size: 2em;
    text-align: center;
    margin: 0.3em 0;
}

h2 {
    color: seagreen;
    text-align:center;
    font-size: 1.5em;
    margin: 0.2em 0;
}

th {
    font-size: 1.2em;
}

td {
    text-align: left;
    margin: 0;
}

h3 {
    color: seagreen;
    text-align: center;
    font-size: 1.2em;
    margin: 0.5em 0 0 0;
}

h3 a:link{
    color: teal;
}

h3 a:visited{
    color: teal;
}

a:link,a:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: yellow;
    background: black;
    font-style: normal;
    text-decoration: none;
}

h3 a:hover {
    color: yellow;
}

a img {
    border-width: 0;
}

#emphasis {
    font-weight: bold;
}

#variation {
    font-style: italic;
}

#header {
    background: gold;
    margin-bottom: 1em;
    text-align: center;
}

#nav {
    background: moccasin;
    text-align: center;
}

#nav ul li  {
    margin: 0 4% 0 0;
    width: 16%;
    float: left;
    color: moccasin;
    text-align: center;
    background-color: moccasin;
}

#info {
    background: moccasin;
    text-align: left;
}

#footer {
    font-size: 0.9em;
    background: gold;
    margin-top: 1em;
    text-align: center;
    font-style: italic;
}
